/* Resetting all browsers settings before i use styling */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Importing of Open Sans Font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

/* Use Of the new Font */
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FFF7F3;
}

/* Input of general Styling of header */
header {
	background-color: #FFF7F3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	padding: 20px;
}

.headerContainer{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.headerTextContainer {
	display: flex;
	align-items: center;
	margin: 25px;
	font-size: 18px;
	font-style: italic;
	font-weight: 800;
}

.headerTextContainer a {
	text-decoration: none;
	color: #333333;
}

.checkAndRegisterContainer {
	display: flex;
	align-items: center;
}

.registerButton {
	background-color: #ffece5; 
	border: none;
	color: #FE7D4E;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 25%;
	box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3)
}

/* Header Store Name first part color change */
#orangeText {
	color: #FE7D4E;
}

/* Top Section Intro and background image */
.backgroundPictureAndText {
	background-image: url("../img/hero\ image.jpg");
	background-position: center;
	background-size: cover;
	color: white;
	display: flex;
	align-items: center;
	height: 450px;
	flex-direction: column;
	justify-content: center;
	padding: 15px;
}

/* Second hand books section */
.secondHandSection {
	transform: translateY(50px);
	background-color: #FFF7F3;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.topContainer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.pictures img {
	height: 500px;
	width: 324px;
	box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3);
}

/* Pictures and links */
.pictures {
	display: flex;
	justify-content: center;
	gap: 15px;
}

/*  */
#text {
	font-size: 18px;
	font-style: italic;
	font-weight: 800;
	padding-left: 30px;
}

#link {
	height: 25px;
	display: flex;
	align-items: center;
	padding-right: 10px;
}

#link a {
	text-decoration: none;
	color: #333333;
	font-style: italic;
	font-weight: 700;
}

#arrow {
	width: 25px;
	height: 25px;
}

/* Monthly Books and Previous */
.monthlyBook {
	transform: translateY(150px);
	background-color: #fefdf9;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.previousMonthlyBooks {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.previousMonthlyBooks h2{
	font-size: 18px;
	font-style: italic;
	font-weight: 800;
}

.previousMonthlyBooks a {
	display: flex;
	text-decoration: none;
	color: #333333;
	align-items: center;
	margin: 5px;
	justify-content: center;
	font-style: italic;
	font-weight: 700;
	flex-direction: row;
	font-size: 14px;
}

.previousMonthlyBooks img {
	width: 35px;
	height: 35px;
}

.thisMonthsBook {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px;
	background-color: #fef2f2;
	gap: 10px;
}

.monthlyBooksText {
	display: flex;
	height: 130px;
	margin: 10px;
	flex-direction: column;
	justify-content: space-around;
	color: #707070;
}

.thisMonthsBook h1 {
	font-size: 18px;
	font-style: italic;
	font-weight: 800;
	color: #FE7D4E;
}

.authorAndTypeContainer {
	display: flex;
	padding: 10px;
	gap: 20px;
}

.monthlyBookAuthorAndType {
	color: #707070;
}

.author h3 {
	font-weight: bold;
	padding-top: 5px;
}

.bookType h3 {
	font-weight: bold;
	padding-top: 5px;
}

/* Monthly Book */
.monthlyBookDescription {
	color: #707070;
	padding: 10px;
}

/* Monthly Book Button Styling */
.orderBook {
	background-color: #FE7D4E;
	  color: white;
	  padding: 10px 20px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  margin: 4px 2px;
	  cursor: pointer;
	  border-radius: 16px;
	border: 1px solid #f8e1d9;
}

.signupForBookClub {
	transform: translateY(300px);
	height: 500px;
	background-image: url("../img/Cover-Bogklub.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.signupForBookClubButton {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
}

/* Sign up for book club Button Styling */
.memberSignUpForBookClub {
	background-color: #FE7D4E;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
	border: 1px solid #f8e1d9;
}

/* Footer */
footer {
	height: 500px;
	transform: translateY(450px);
}

.footerContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	background-color: #fefdf9;
	height: inherit;
}

.textContainerFooter {
	display: flex;
	flex-direction: row;
	font-size: 18px;
	font-style: italic;
	font-weight: 800;
}

.textContainerFooter a {
	text-decoration: none;
	color: #333333;
}

.footerTextContainer {
	padding: 10px;
}

#phone, #mail, #openingHours, #socialMedia {
	padding: 10px;
}

#phone h3, #mail h3, #openingHours h3, #socialMedia h3{
	font-weight: bold;
}

.socialMediaLinks img {
	height: 50px;
	width: 50px;
}

/* Mobile first styling */
@media (max-width: 641px){

	/* Second Hand Pictures and links */
	.secondHandSection {
		height: 2100px;
	}

	.pictures {
		flex-wrap: wrap;
		justify-content: center;
	}

	.pictures img {
		height: 500px;
		width: 324px;
		box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3);
	}

	/* Previous Monthly Books */
	.monthlyBook {
		transform: translateY(100px);
		flex-direction: column;
		height: 1150px;
	}

	.previousMonthlyBooks{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 400px;
	}

	.previousMonthlyBooks h2{
		margin: 5px;
		display: flex;
		justify-content: center;
	}

	.monthlyBooksText {
		display: flex;
		height: 130px;
		margin: 10px;
		flex-direction: column;
		justify-content: space-around;
		color: #707070;
	}

	.previousMonthlyBooks a {
		display: flex;
		text-decoration: none;
		color: #333333;
		align-items: center;
		margin: 5px;
		justify-content: center;
		font-style: italic;
		font-weight: 700;
	}

	.previousMonthlyBooks img {
		width: 25px;
		height: 25px;
	}

	/* This Months Book */
	.thisMonthsBook {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		background-color: #fef2f2;
	}

	.thisMonthsBook img {
		height: 500px;
		width: 324px;
		box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3);
	}

	.currentMonthlyBookInformation {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 15px;
	}

	/* Sign up for Book Club */
	.signupForBookClub {
		transform: translateY(120px);
		height: 300px;
		background-image: url("../img/Cover-Bogklub.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	.signupForBookClubButton {
		height: 300px;
	}

	/* Footer */
	footer {
		height: 750px;
		transform: translateY(150px);
	}
	.footerContainer {
		flex-direction: column;
		height: auto;
	}

	.contactInformation {
		height: 500px;
	}

	.information {
		margin: 30px;
	}

	.storePicture {
		height: 250px;
	}
}